.user-profile-main {
    align-items: center;
    background-color: #e6e6e6;
    background-image: url("http://www.transparenttextures.com/patterns/woven.png");
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    height: 500px;
    justify-content: space-around;
    margin: 130px;
    width: 80%;
}

.trivia-main {
    align-items: center;
    background: linear-gradient(135deg, rgba(250, 198, 149, 1) 0%, rgba(245, 171, 102, 1) 47%, rgba(239, 141, 49, 1) 100%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-around;
    width: 80%;
}

.trivia-question-section {
    /*display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;*/
}

.trivia-answer-section {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
}

.trivia-question {
    font-family: 'Baloo';
    font-size: 30px;
    margin-top: 100px;
}

.trivia-answer {
    font-family: 'Baloo';
    font-size: 15px;
}

.radio {
    width: 30px;
    height: 30px;
    position: relative;
}
