<section class="user-game-main">
    <div class="trivia-main">
        <span class="question-counter"> Question #{{questionCounter}}</span>

        <div class="main-game-section">

            <form type="submit" ng-submit="getQuestion()" class="page-buttons">
                <input type="submit" class="bummer" value="Next Question" />
                <input type="submit" class="submit-answers" value="Submit" />
            </form>
            <div ng-repeat="question in currentQuestion" class="trivia-question-section">

                <p class="trivia-question">
                    {{question.question}}
                </p>
            </div>
            <div ng-repeat="answer in currentQuestion.answers" class="trivia-answer-section">
                <div class="radio">
                    <input type="radio" name="answer" class="answer-button" />
                    <label for="answer"></label>
                </div>
                <p class="trivia-answer">
                    {{answer}}
                </p>

            </div>
        </div>
    </div>
    
    <div class="main-answer-container">
        <section class="show-answer-container is-hidden">
            <p>Question: How awesome is Samuel L Jackson?</p>
            <p>Your Answer: Pretty awesome.</p>
            <p>Correct Answer: Mutha Fing Awesome!</p>
        </section>
        <section class="show-answer-container is-hidden">
            <p>Question: How awesome is Samuel L Jackson?</p>
            <p>Your Answer: Pretty awesome.</p>
            <p>Correct Answer: Mutha Fing Awesome!</p>
        </section>
        <section class="show-answer-container is-hidden">
            <p>Question: How awesome is Samuel L Jackson?</p>
            <p>Your Answer: Pretty awesome.</p>
            <p>Correct Answer: Mutha Fing Awesome!</p>
        </section>
        <section class="show-answer-container is-hidden">
            <p>Question: How awesome is Samuel L Jackson?</p>
            <p>Your Answer: Pretty awesome.</p>
            <p>Correct Answer: Mutha Fing Awesome!</p>
        </section>
        <section class="show-answer-container is-hidden">
            <p>Question: How awesome is Samuel L Jackson?</p>
            <p>Your Answer: Pretty awesome.</p>
            <p>Correct Answer: Mutha Fing Awesome!</p>
        </section>
        <section class="show-answer-container is-hidden">
            <p>Question: How awesome is Samuel L Jackson?</p>
            <p>Your Answer: Pretty awesome.</p>
            <p>Correct Answer: Mutha Fing Awesome!</p>
        </section>
        <section class="show-answer-container is-hidden">
            <p>Question: How awesome is Samuel L Jackson?</p>
            <p>Your Answer: Pretty awesome.</p>
            <p>Correct Answer: Mutha Fing Awesome!</p>
        </section>
        <section class="show-answer-container is-hidden">
            <p>Question: How awesome is Samuel L Jackson?</p>
            <p>Your Answer: Pretty awesome.</p>
            <p>Correct Answer: Mutha Fing Awesome!</p>
        </section>
        <section class="show-answer-container is-hidden">
            <p>Question: How awesome is Samuel L Jackson?</p>
            <p>Your Answer: Pretty awesome.</p>
            <p>Correct Answer: Mutha Fing Awesome!</p>
        </section>
        <section class="show-answer-container is-hidden">
            <p>Question: How awesome is Samuel L Jackson?</p>
            <p>Your Answer: Pretty awesome.</p>
            <p>Correct Answer: Mutha Fing Awesome!</p>
        </section>


    </div>
    <input ng-click="changeToGamePage()" type="submit" class="play-again-button is-hidden" value="Play Again" />
</section>
