<section class="user-profile-main">
    <div class="trivia-main">


        <div class="trivia-question-section">
            <p class="trivia-question">
                How awesome is Samuel L. Jackson?
            </p>
        </div>
        <div class="trivia-answer-section">
            <div class="radio">
                <input type="radio" name="answer" class="answer-button" />
                <label for="answer"></label>
            </div>
            <p class="trivia-answer">
                Mutha Fuckin Awesome!!!
            </p>
            <div class="radio">
                <input type="radio" name="answer" class="answer-button" />
                <label for="answer"></label>
            </div>
            <p class="trivia-answer">
                Mutha Fuckin Awesome!!!
            </p>
            <div class="radio">
                <input type="radio" name="answer" class="answer-button" />
                <label for="answer"></label>
            </div>
            <p class="trivia-answer">
                Mutha Fuckin Awesome!!!
            </p>
            <div class="radio">
                <input type="radio" name="answer" class="answer-button" />
                <label for="answer"></label>
            </div>
            <p class="trivia-answer">
                Mutha Fuckin Awesome!!!
            </p>
        </div>
    </div>
</section>
