<section class="user-profile-main">
    <div class="trivia-main">
        <span class="question-counter"> Question #1</span>

        <div class="main-game-section">

            <form class="page-buttons">
                <input type="submit" class="bummer" value="Next Question" />
                <input type="submit" class="bummer" value="Submit" />
            </form>
            <div class="trivia-question-section">

                <p class="trivia-question">
                    How awesome is Samuel L. Jackson?
                </p>
            </div>
            <div class="trivia-answer-section">
                <div class="radio">
                    <input type="radio" name="answer" class="answer-button" />
                    <label for="answer"></label>
                </div>
                <p class="trivia-answer">
                    Mutha Fuckin Awesome!!!
                </p>
                <div class="radio">
                    <input type="radio" name="answer" class="answer-button" />
                    <label for="answer"></label>
                </div>
                <p class="trivia-answer">
                    Mutha Fuckin Awesome!!!
                </p>
                <div class="radio">
                    <input type="radio" name="answer" class="answer-button" />
                    <label for="answer"></label>
                </div>
                <p class="trivia-answer">
                    Mutha Fuckin Awesome!!!
                </p>
                <div class="radio">
                    <input type="radio" name="answer" class="answer-button" />
                    <label for="answer"></label>
                </div>
                <p class="trivia-answer">
                    Mutha Fuckin Awesome!!!
                </p>

            </div>
        </div>
    </div>
</section>

<div class="shit">
    <p class="show-answer-question">
        Question: what is Samuel L Jacksons real name?
    </p>
    <p>
        Your answer was Doody Doo. The Correct answer is Samuel L Mutha Fing Jackson!
    </p>
</div>
