<section class="user-leader-main">

    <div ng-repeat="score in allScores" class="leader-board">
        <h1 class="board-header"> Leader Board</h1>
        <div class="single-user-board">
            <p>{{score.game_score}}</p>
            <p></p>
            <p>9500</p>
        </div>
        <!-- <div class="single-user-board">
            <p>2</p>
            <p>Doody Doo</p>
            <p>7320</p>
        </div>
        <div class="single-user-board">
            <p>3</p>
            <p>Ramen Hero</p>
            <p>6410</p>
        </div>
        <div class="single-user-board">
            <p>4</p>
            <p>Booger</p>
            <p>2130</p>
        </div>
        <div class="single-user-board">
            <p>5</p>
            <p>Turntalitle</p>
            <p>1210</p>
        </div> -->
    </div>
    <input ng-click="changeToGamePage()" type="submit" class="play-again-button" value="Play Again" />
</section>
