<section class="user-leader-main">

    <div class="leader-board">
        <h1 class="board-header"> Leader Board</h1>
        <div class="single-user-board">
            <p>1</p>
            <p>Scott Hsu</p>
            <p>9000</p>
        </div>
        <div class="single-user-board">
            <p>1</p>
            <p>Scott Hsu</p>
            <p>9000</p>
        </div>
        <div class="single-user-board">
            <p>1</p>
            <p>Scott Hsu</p>
            <p>9000</p>
        </div>
        <div class="single-user-board">
            <p>1</p>
            <p>Scott Hsu</p>
            <p>9000</p>
        </div>
        <div class="single-user-board">
            <p>1</p>
            <p>Scott Hsu</p>
            <p>9000</p>
        </div>
    </div>
    <input ng-click="changeToGamePage()" type="submit" class="play-again-button" value="Play Again" />
</section>
